// estilo para portada
.hero-section {
    
    background: linear-gradient(rgba($color-oscuro, 0.6), rgba($color-oscuro, 0.6)), 
                url('../../assets/img/hero-bg.jpg') no-repeat center center/cover;
    min-height: 80vh; //
    
    h1 {
        font-family: $fuente-titulos;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    p {
        font-family: $fuente-principal;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
}