// colores 
$color-principal: #1faee9;    
$color-secundario: #ffffff;   
$color-oscuro: #1a1a1a;       
$color-gris-claro: #f4f4f4;   
$color-fondo-suave: #f0f9fe;

// fuentes
$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos: 'Montserrat', sans-serif;